* {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    display: block;
    margin: 0 auto;
}

.services ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.services ul li{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

section, header, footer, ul{
    padding: 10px;
    margin: 5px;
}

table,
tr,
td {
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}

.book-now{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 5px;
    margin: 5px;
}
