*{
    margin: 0;
    padding: 0;
}

.main{
    height: 80vh;
    background-image: url("../images/bg.jpg");
    object-fit: cover;
    position: relative;
}

.main .box{
    position: absolute;
    top: 0;
    opacity: 0.5;
    background-color: black;
    height: 80vw;
    width: 100%;
}

.logo img{
    width: 122px;
    filter: brightness(0) saturate(100%) invert(6%) sepia(93%) saturate(7284%) hue-rotate(355deg) brightness(133%) contrast(96%);
    /* filter: invert(29%) sepia(93%) saturate(7483%) hue-rotate(356deg) brightness(96%) contrast(106%); */
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    padding: 20px 5px;
    gap: 10px;
}

.lang-sign{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.lang-select select{
    background: none;
    border: none;
    color: white;
    font-weight: 500;
}

.lang-select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 8px;
}


.lang-select svg{
    color: white;
}